@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Scrollbars invisibles (scroll toujours possible) === */
html,
body,
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / old Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; /* Chrome, Safari, Edge */
}

/* === Themes safelist === */
.theme-indigo {
  @apply bg-gradient-to-br from-indigo-900 via-purple-900 to-black;
}
.theme-blue {
  @apply bg-gradient-to-b from-blue-950 via-slate-900 to-black;
}
.theme-fuchsia {
  @apply bg-gradient-to-tr from-fuchsia-900 via-purple-900 to-black;
}

